* {
    margin: 0; 
    padding: 0; 
}

body {
    background-color: #16181c;
    color: #f1f5ff;
    font-family: 'Almarena Neue', sans-serif; 
}
.cabecalho{
    padding:2% 0% 0% 15%;

}
.cabecalho__menu{
    display: flex;
    gap : 60px;
}
.cabecalho__menu__link{
    color: #2055bc;
    font-size :25px;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px
}
.cabecalho__menu__link:hover{
    background-color: #2055bc;
    color: #f1f5ff;
    font-size :25px;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    
}

h1 {
    font-size: 80px;
    color:#f1f5ff;
}

.ptitulo {
    font-size: 40px;
    color: #2055bc;
}
.ptitulo__2{
    font-size: 20px;
    line-height: 1.5; 
    color:#f1f5ff;
}
.ptitulo__4{
    font-size: 20px;
    color:#f1f5ff;
}
.ptitulo__3{
    font-size: 35px;
    color:#f1f5ff;
}
strong {
    color:#f1f5ff;
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap : 20px;
    align-items: center;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15px;              
    border: 3px solid #2055bc;
    width: 370px;
    text-align: center;
    border-radius: 12px;
    font-size: 40px;
    color:#f1f5ff;
    padding: 21px 21px;
    text-decoration: none;
}

.botao:hover {
    background-color: #f1f5ff; 
    color : #2055bc;
    border: 3px solid  #f1f5ff;
    cursor: pointer;
    transition: 0.5s;
}
.logo {
    width: 30%;
    height: auto;  
    border-radius: 50%;
    border: 4px solid #f1f5ff
}


.apresentacao {
    padding: 5% 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :40px;
}
.simbolo{
    width: 40px;
    height: 40px;
    filter: invert(89%) sepia(48%) saturate(539%) hue-rotate(180deg) brightness(105%) contrast(102%);
}
.simbolo1{
    transform: scale(2);
    width: 40px;
    height: 40px;
    filter: invert(89%) sepia(48%) saturate(539%) hue-rotate(180deg) brightness(105%) contrast(102%);
}
.botao:hover .simbolo1 {
    filter: invert(25%) sepia(68%) saturate(2250%) hue-rotate(204deg) brightness(92%) contrast(92%);
    transform: scale(2); 
    transition: 0.5s;
}
.botao:hover .simbolo {
    filter: invert(25%) sepia(68%) saturate(2250%) hue-rotate(204deg) brightness(92%) contrast(92%);
    transition: 0.5s;
}
.footer{
    text-align: center;
    font-size: 25px;
    background-color:#2055bc;
    padding: 21px 21px;
}