* {
    margin: 0; 
    padding: 0; 
}
:root{
    --primary--color: #16181c;
    --secundary--color:#f1f5ff;
    --terciary--color: #2055bc;
}
body {
    background-color: var(--primary--color);
    color: var(--secundary--color);
    font-family: 'Almarena Neue', sans-serif; 
}
.cabecalho{
    padding:2% 0% 0% 15%;

}
.cabecalho__menu{
    display: flex;
    gap : 60px;
}
.cabecalho__menu__link{
    color: var(--terciary--color);
    font-size :25px;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px
}
.cabecalho__menu__link:hover{
    background-color: var(--terciary--color);
    color: var(--secundary--color);
    font-size :25px;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    
}

h1 {
    font-size: 80px;
    color:var(--secundary--color);
}

.ptitulo {
    font-size: 40px;
    color: var(--terciary--color);
}
.ptitulo__2{
    font-size: 20px;
    line-height: 1.5; 
    color:var(--secundary--color);
}
.ptitulo__4{
    font-size: 20px;
    color:var(--secundary--color);
}
.ptitulo__3{
    font-size: 35px;
    color:var(--secundary--color);
}
strong {
    color:var(--secundary--color);
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap : 20px;
    align-items: center;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15px;              
    border: 3px solid var(--terciary--color);
    width: 370px;
    text-align: center;
    border-radius: 12px;
    font-size: 40px;
    color:var(--secundary--color);
    padding: 21px 21px;
    text-decoration: none;
}

.botao:hover {
    background-color: var(--secundary--color); 
    color : var(--terciary--color);
    border: 3px solid  var(--secundary--color);
    cursor: pointer;
    transition: 0.5s;
}
.logo {
    width: 30%;  
    border-radius: 50%;
    border: 4px solid var(--secundary--color);
}


.apresentacao {
    padding: 5% 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:90px;
}

.apresentacao__conteudo {
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :40px;
}
.simbolo{
    width: 40px;
    height: 40px;
    filter: invert(89%) sepia(48%) saturate(539%) hue-rotate(180deg) brightness(105%) contrast(102%);
}
.simbolo1{
    transform: scale(2);
    width: 40px;
    height: 40px;
    filter: invert(89%) sepia(48%) saturate(539%) hue-rotate(180deg) brightness(105%) contrast(102%);
}
.botao:hover .simbolo1 {
    filter: invert(25%) sepia(68%) saturate(2250%) hue-rotate(204deg) brightness(92%) contrast(92%);
    transform: scale(2); 
    transition: 0.5s;
}
.botao:hover .simbolo {
    filter: invert(25%) sepia(68%) saturate(2250%) hue-rotate(204deg) brightness(92%) contrast(92%);
    transition: 0.5s;
}
.footer{
    text-align: center;
    font-size: 25px;
    background-color:var(--terciary--color);
    padding: 21px 21px;
}

@media(max-width:1200px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 2%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .cabecalho{
        padding:10% 0% 0% 0%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
}