* {
    margin: 0; 
    padding: 0;
}

body {
    background-color: #16181c;
    color: #f1f5ff;
    font-family: 'Almarena Neue', sans-serif; 
}
.cabecalho{
    padding:2% 0% 0% 15%;

}
.cabecalho__menu{
    display: flex;
    gap : 60px;
}
.cabecalho__menu__link{
    color: #2055bc;
    font-size :25px;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px
}
.cabecalho__menu__link:hover{
    background-color: #2055bc;
    color: #f1f5ff;
    font-size :25px;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    
}
.apresentacao__conteudo {
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: left;
    gap :40px;
}
.apresentacao {
    padding: 5% 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto-inicial{
    font-size: 80px;
}
.subtitulos{
    background-color:#f1f5ff ;
    color: #16181c;
    border-radius: 8px;
    font-size: 40px;
    width: 200px;
    padding: 21px 21px;
}
.galeria {
    padding: 0 10%; 
    margin-top: -3%;
    margin-bottom: 5%;
}
.design{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}
.matchday {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); 
    gap: 15px;
    width: 100%; 
}
.footer{
    text-align: center;
    font-size: 25px;
    background-color:#2055bc;
    padding: 21px 21px;
}