* {
    margin: 0; 
    padding: 0;
}

body {
    background-color: #16181c;
    color: #f1f5ff;
    font-family: 'Almarena Neue', sans-serif;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.cabecalho{
    padding:2% 0% 0% 15%;

}
.cabecalho__menu{
    display: flex;
    gap : 60px;
}
.cabecalho__menu__link{
    color: #2055bc;
    font-size :1.5625rem;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px
}
.cabecalho__menu__link:hover{
    background-color: #2055bc;
    color: #f1f5ff;
    font-size :1.5625rem;
    text-decoration: none;
    border-radius: 12px;
    padding: 21px 15px;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    
}
.apresentacao__conteudo {
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: left;
    gap :40px;
}
.apresentacao {
    padding: 5% 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap : 20px;
    align-items: center;
}

.orcamento{
    font-size: 3.125rem;
    background-color:#16181c;
    padding: 21px 21px;
    border-radius: 15px;
    border: 3px solid #f1f5ff;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15px;              
    border: 3px solid #2055bc;
    width: 370px;
    text-align: center;
    border-radius: 12px;
    font-size: 2.5rem;
    color:#f1f5ff;
    padding: 21px 21px;
    text-decoration: none;
}

.botao:hover {
    background-color: #f1f5ff; 
    color : #2055bc;
    border: 3px solid  #f1f5ff;
    cursor: pointer;
    transition: 0.5s;
}
.botao:hover .simbolo {
    filter: invert(25%) sepia(68%) saturate(2250%) hue-rotate(204deg) brightness(92%) contrast(92%);
    transform: scale(1); 
    transition: 0.5s;
}

.simbolo{
    width: 40px;
    height: 40px;
    filter: invert(89%) sepia(48%) saturate(539%) hue-rotate(180deg) brightness(105%) contrast(102%);
}
.footer{
    text-align: center;
    font-size: 1.5625rem;
    background-color:#2055bc;
    padding: 21px 21px;
}
@media(max-width:1200px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 2%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .cabecalho{
        padding:10% 0% 0% 0%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
}